/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 nov. 2021, 17:13:05
    Author     : ilyassbouissa
*/



button{
    color:blue;
    content: "Réference ";
}