/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 nov. 2021, 11:47:59
    Author     : ilyassbouissa
*/

*{
    padding: 10px;
}
table{
    margin: auto;
    border-collapse: collapse;
    vertical-align: middle;
}
th{
    background-color: #393E46;
    font-weight: bold;
    color: white;
}
th, td{
    text-align :center;
    border: 1px solid black;
    padding: 10px;
}

h1{
    padding: 10px;
}

ul {
  list-style-type: kannada;
  line-height: 2px;
}

